!!!
%html
  %head
    %title Compass
    = javascript_include_tag :defaults
    = stylesheet_link_tag "application"
    - if params[:action] == "show"
      = stylesheet_link_tag "pixelations/base"
      = stylesheet_link_tag pixelations_stylesheet_path(@stylesheet), :title => @stylesheet.title
      - for alternate in @alternate_stylesheets
        = stylesheet_link_tag pixelations_stylesheet_path(alternate), :title => alternate.title
  %body#pixelations
    #main.wrap
      #content
        = yield
      #layout_footer
    #footer
      .wrap
        This stylesheet is built on
        = succeed "." do
          %a{:href => "http://github.com/chriseppstein/compass/"} Compass
    = analytics_tag
